
/target/
src/main/resources/specification.aterm
src/main/resources/parsetable.tbl
src/main/java/org/metaborg/org/metaborg/lang/l2/generated
src/main/java/org/metaborg/org/metaborg/lang/l2/generated/terms
src/main/java/org/metaborg/org/metaborg/lang/l2/generated/terms/build
src/main/java/org/metaborg/org/metaborg/lang/l2/generated/terms/match
src/test/java/org/metaborg/org/metaborg/lang/l2/generated/test
/L2.launch
/TestL2.launch
/L2 (Daemon).launch
/L2-server
/L2-client
/L2
