[submodule "org.metaborg.spg.cmd/examples/minijava"]
	path = org.metaborg.spg.cmd/examples/minijava
    url = git@github.com:MartijnDwars/metaborg-mini-java.git
    branch = generation
[submodule "org.metaborg.spg.cmd/examples/tiger"]
	path = org.metaborg.spg.cmd/examples/tiger
    url = git@github.com:MartijnDwars/metaborg-tiger.git
    branch = generation
[submodule "org.metaborg.spg.cmd/examples/scopes-frames"]
	path = org.metaborg.spg.cmd/examples/scopes-frames
    url = git@github.com:MartijnDwars/metaborg-scopes-frames.git
    branch = generation
