<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.ui.menus">
    <menuContribution
        allPopups="true"
        locationURI="menu:org.metaborg.spoofax.eclipse.meta.menu.main">
      <menu
          id="spgMenu"
          label="SPG">
        <command
            commandId="org.metaborg.spg.eclipse.command.generate"
            label="Generate terms"
            style="push">
        </command>
        <separator
            name="separator-1"
            visible="true">
        </separator>
        <command
            commandId="org.metaborg.spg.eclipse.command.ambiguity"
            label="Ambiguity test"
            style="push">
        </command>
        <command
            commandId="org.metaborg.spg.eclipse.command.soundness"
            label="Type soundness test"
            style="push">
        </command>
      </menu>
    </menuContribution>
  </extension>
  
  <extension
      point="org.eclipse.ui.commands">
    <command
        defaultHandler="org.metaborg.spg.eclipse.commands.GenerateHandler"
        id="org.metaborg.spg.eclipse.command.generate"
        name="Generate terms">
    </command>
  </extension>
  
  <extension
      point="org.eclipse.ui.commands">
    <command
        defaultHandler="org.metaborg.spg.eclipse.commands.AmbiguityHandler"
        id="org.metaborg.spg.eclipse.command.ambiguity"
        name="Ambiguity test">
    </command>
  </extension>
  
  <extension
      point="org.eclipse.ui.commands">
    <command
        defaultHandler="org.metaborg.spg.eclipse.commands.SoundnessHandler"
        id="org.metaborg.spg.eclipse.command.soundness"
        name="Type soundness test">
    </command>
  </extension>
</plugin>