<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.ui.menus">
    <menuContribution
        allPopups="true"
        locationURI="menu:org.metaborg.spoofax.eclipse.meta.menu.main">
      <menu
          id="spgMenu"
          label="SPG">
        <menu
           id="differenceSpgMenu"
           label="Difference test">
          <command
             commandId="org.metaborg.spg.sentence.eclipse.command.difference.liberal"
             label="Liberal"
             style="push">
          </command>
          <command
             commandId="org.metaborg.spg.sentence.eclipse.command.difference.restrictive"
             label="Restrictive"
             style="push">
          </command>
        </menu>
      </menu>
    </menuContribution>
  </extension>

  <extension
      point="org.eclipse.ui.commands">
    <command
        id="org.metaborg.spg.sentence.eclipse.command.difference.liberal"
        name="Liberal Difference test"
        defaultHandler="org.metaborg.spg.sentence.antlr.eclipse.handler.LiberalDifferenceHandler">
    </command>
    <command
        id="org.metaborg.spg.sentence.eclipse.command.difference.restrictive"
        name="Restrictive Difference test"
        defaultHandler="org.metaborg.spg.sentence.antlr.eclipse.handler.RestrictiveDifferenceHandler">
    </command>
  </extension>
</plugin>
