<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.ui.menus">
    <menuContribution
        allPopups="true"
        locationURI="menu:org.metaborg.spoofax.eclipse.meta.menu.main">
      <menu
          id="spgMenu"
          label="SPG">
        <command
           commandId="org.metaborg.spg.sentence.eclipse.command.ambiguity"
           label="Ambiguity test"
           style="push">
        </command>
        <command
           commandId="org.metaborg.spg.sentence.eclipse.command.difference"
           label="Difference test"
           style="push">
        </command>
      </menu>
    </menuContribution>
  </extension>

  <extension
      point="org.eclipse.ui.commands">
    <command
        id="org.metaborg.spg.sentence.eclipse.command.ambiguity"
        name="Ambiguity test"
        defaultHandler="org.metaborg.spg.sentence.eclipse.handler.AmbiguityHandler">
    </command>
    <command
        id="org.metaborg.spg.sentence.eclipse.command.difference"
        name="Difference test"
        defaultHandler="org.metaborg.spg.sentence.eclipse.handler.DifferenceHandler">
    </command>
  </extension>
</plugin>
