
/target/
src/main/resources/specification.aterm
src/main/resources/parsetable.tbl
src/main/java/org/metaborg/org/metaborg/lang/l1/generated
src/main/java/org/metaborg/org/metaborg/lang/l1/generated/terms
src/main/java/org/metaborg/org/metaborg/lang/l1/generated/terms/build
src/main/java/org/metaborg/org/metaborg/lang/l1/generated/terms/match
src/test/java/org/metaborg/org/metaborg/lang/l1/generated/test
/L1.launch
/TestL1.launch
/L1 (Daemon).launch
/L1-server
/L1-client
/L1
