<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Hide logs lower than INFO for org.metaborg (i.e. TRACE & DEBUG) -->
    <logger name="org.metaborg" level="INFO"/>

    <!-- Show logs ALL and more severe, i.e. TRACE, DEBUG, INFO, WARN, ERROR.-->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
