<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.metaborg.spoofax.eclipse.meta.menu.main?after=additions">
         <command
               commandId="org.metaborg.spg.eclipse.command.generate"
               label="Generate terms"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.metaborg.spg.eclipse.GeneratorHandler"
            id="org.metaborg.spg.eclipse.command.generate"
            name="Generate terms">
      </command>
   </extension>
</plugin>